*.pyc
*.jpg
*.jpeg
.ipynb_checkpoints/ScrapeURLs-checkpoint.ipynb
.ipynb_checkpoints/GetCategory&URLs-checkpoint.ipynb
.ipynb_checkpoints/GetCategory&URLs-checkpoint.ipynb
.ipynb_checkpoints/ScrapeURLs-checkpoint.ipynb
data/images.zip
